{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 120,
  "singleQuote": true,
  "overrides": [{
    "files": "{client,server}/**/*.{ts,tsx}",
    "options": {
      "trailingComma": "es5"
    }
  }]
}
