engine-strict=true
//registry.npmjs.org/:_authToken=${SHOPAIASSIST_NPM_TOKEN}
//tr1.jfrog.io/artifactory/api/npm/npm/:_auth=${TR_NPM_TOKEN}
@:registry=https://tr1.jfrog.io/artifactory/api/npm/npm/
@:registry=https://tr1.jfrog.io/artifactory/api/npm/npm/
registry=https://tr1.jfrog.io/artifactory/api/npm/npm/